.card {
  margin-bottom: 10px;
  margin-top: 15px;
}

.card-img-top {
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
}

#listicon {
  position: absolute;
  left: 20px;
  margin-top: 1px;
  cursor: pointer;
}

#title {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  margin-bottom: 0.5px;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

#header #logout {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#list {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 20;
  left: 0;
  background-color: #c39bd3;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.15s ease-in-out;
}

#list a {
  font-weight: 350;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 5px 0;
  transition: color 0.15s ease-in-out;
}

#list #active {
  cursor: default;
  color: #76448a;
}

#list a:hover {
  color: #76448a;
  text-decoration: none;
}

#list #closelist {
  cursor: pointer;
  background-color: #76448a;
  width: fit-content;
  position: absolute;
  top: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  right: 10px;
}

.row {
  align-items: flex-start;
}

li {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1px;
  max-width: 100%;
}

.card-subtitle {
  color: #884ea0;
}

@media screen and (max-width: 1000px) {
  #carname {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .row {
    flex-direction: row;
    min-width: 80%;
  }

  .col-sm-3 {
    min-width: 50%;
  }
}

@media screen and (max-width: 769px) {
  .row {
    justify-content: center;
  }

  .col-sm-3 {
    min-width: 80%;
  }

  #explore {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #c39bd3;
  }
}
