#listicon {
  position: absolute;
  left: 20px;
  margin-top: 1px;
  cursor: pointer;
}

#list {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 20;
  left: 0;
  background-color: #c39bd3;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.15s ease-in-out;
}

#list a {
  font-weight: 350;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 5px 0;
  transition: color 0.15s ease-in-out;
}

#list #active {
  cursor: default;
  color: #76448a;
}

#list a:hover {
  color: #76448a;
  text-decoration: none;
}

#list #closelist {
  cursor: pointer;
  background-color: #76448a;
  width: fit-content;
  position: absolute;
  top: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  right: 10px;
}

#header #logout {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#content {
  width: 80%;
  margin: auto;
}

.image {
  height: 475px;
  margin: 0.5% 0.5%;
  width: 49%;
  object-fit: cover;
  overflow: hidden;
}

.image img {
  height: 475px;
}

#overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  margin-top: 50px;
  width: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}

#modal {
  height: 475px;
  min-width: 80%;
  max-width: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal img {
  height: 475px;
}

.tile {
  height: 500px;
  min-width: 60%;
  max-width: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.photo img {
  height: 500px;
}

/*#close
{
  background-color:red;
  width:fit-content;
}*/

@media screen and (max-width: 1000px) {
  #carname {
    font-size: 40px;
  }

  #modal,
  #modal img,
  .image,
  .image img {
    height: 350px;
  }
}

@media screen and (max-width: 600px) {
  #modal,
  #modal img,
  .image,
  .image img {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  #modal,
  #modal img,
  .image,
  .image img {
    height: 175px;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    width: 99%;
  }
}
