/*Explore searchbar*/
.searchbar {
  width: 50%;
  margin: 5% auto;
  position: relative;
}

.searchbar input {
  width: 100%;
  margin: 0;
  padding: 2%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.searchbar input:hover {
  border-color: black;
}

.searchbar input:focus,
.searchbar input:active {
  border: 2px solid blue;
}

.searchbar button {
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid lightgray;
  outline: none;
  color: rgb(131, 0, 253);
  background-color: rgba(0, 0, 0, 0.281);
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  z-index: 2;
}
