.main_product_page {
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.car_product_image {
  width: 60%;
}
.car_product_image img {
  width: 100%;
}
.main_product_page .product_details {
  width: 40%;
  margin-left: 3%;
}
.product_details .brand span {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 30px;
}
.product_details .brand {
  font-weight: 500;
  font-family: sans-serif;
  font-size: 25px;
}
.product_details .car_engine span {
  font-weight: 500;
  font-family: sans-serif;
  font-size: 20px;
}
.total_info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3% 3%;
  gap: 10px;
}
.total_info .car_engine {
  text-align: center;
}
.total_info .car_engine span {
  font-size: 20px;
}
.total_info .car_engine button {
  width: 80%;
  background-color: aquamarine;
  color: white;
}
.product_details .buy_now {
  margin: 0 auto;
  padding-top: 5%;
}
.product_details .buy_now button {
  width: 80%;
  padding: 5% 8%;
  font-size: 30px;
  background: linear-gradient(#1e98d8, #730dc9);
  color: white;
}
.product_details .buy_now button:hover {
  background-color: black;
}
